.songs-table {
  display: grid;
  justify-content: center;
}

.table-container {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-flow: column;
}

/* remove ordered list item numbers */
li {
  list-style: none;
}

.attribute.attribute-header {
  background: lightgray;
}

.attribute {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  line-height: 2;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  width: 10vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
